@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/global';
@import 'base/animate';
@import 'plugins/slick';
@import 'plugins/slick-theme';

a, button, input, textarea, svg {
  transition: all .3s ease-in-out;
}

img {
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  overflow-x: hidden;
  position: relative;
  font-weight: normal;
  color: #000;
}

section {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}

.desktop-only {
  display: block;
  @media (max-width: 1199px) {
    display: none;
  }
}

.mobile-only {
  display: none !important;
  @media(max-width: 767px) {
    display: block !important;
  }
}


* {
  &:focus {
    outline: 0;
  }
}

.container {
  width: calc(100% - 60px);
  max-width: 1170px;
  margin: auto;
  float: none;
  display: block;
  @media (max-width: 1199px) {
    max-width: 970px;
  }
  @media (max-width: 991px) {
    max-width: 710px;
  }
  @media (max-width: 767px) {
    width: calc(100% - 60px);
  }
}

/*----- INTERNAL PAGES - GLOBAL -----*/
.page-content {
  width: 100%;
  float: left;
}
.main-content {
  width: 60%;
  margin-right: 8%;
}
.sidebar {
  width: 32%;
}